:root {
  --mainColour: #076bc4;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.6rem;
  color: #293c4b;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.header {
  padding: 2rem;
  background-color: var(--mainColour);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
}

.header-title {
  color: #fff;
  text-transform: uppercase;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
}

.nav-link + .nav-link {
  margin-left: 1rem;
}

.main {
  flex: 1;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
}


.footer {
  display: flex;
  justify-content: center;
  background: var(--mainColour);
  padding: 2rem;
}

.footer-logo {
  display: block;
  height: 4rem;
  width: 4rem;
  background: url(./images/twitter.svg) no-repeat;
  transition: opacity 0.3s ease;
  fill: #fff
}

.footer-logo + .footer-logo {
  margin-left: 3rem;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo.mod-twitter {
  background-image: url(./images/twitter.svg);
}

.footer-logo.mod-github {
  background-image: url(./images/github.svg);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

form {
  width: 28rem;
  margin: 0 auto;
}

.form-element {

}

.form-element-radio + .form-element-radio {
  margin-top: 0.4rem;
}

.form-element + .form-element {
  margin-top: 2.5rem;
}

.form-element-input {
  width: 100%;
  padding: 0.9rem 1.2rem;
  border-radius: 0.4rem;
  border: 0.2rem solid#9b9b9b;
  font-size: 1.6rem;
  transition: border-color 0.3s;
}

.form-element-input:active,
.form-element-input:focus {
  border-color: #076bc4;;
}

.form-element-label {

}

.form-element-label-text {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.button {
  display: inline-block;
  border: none;
  padding: 1.5rem 3.2rem;
  font-size: inherit;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
  background:#076bc4;
  color:#fff;
  text-align: center;
  font-size: 2rem;
}

.button.mod-full {
  width: 100%;
}

.button.mod-small {
  padding: 0.7rem 1.8rem;
  font-size: 1.6rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.6rem;
  background:#fff;
  border: 2px solid#076bc4;
  color:#076bc4;
}

.button.mod-small:disabled {
  border-color:gray;
  color:gray;
}

.bluetooth-button-container {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0 3rem;
}

.workout {
  height: 40rem;
  width: 40rem;
  background: url(./images/workout.svg) center / contain no-repeat;
}

.warning {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background:#e6c86e;
}


/* HOME  */
.home-container {
  max-width: 50rem;
}
